body {
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, .75);
  font-size: 16px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  padding: 33px 75px;
  background-color: #eff0f2; 
  font-size: 0;
}

.header .container {
  padding: 0;
}

.logo {
  display: inline-block;
}

.logo-image {
  width: 113px;
  height: 46px;
  vertical-align: middle;
}

.burger {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  margin-left: calc(100% - 143px);
}

.burger-item {
  background-color: #606061;
  height: 4px;
  width: 30px;
  line-height: 2.5em;
  display: block;
}

.burger-item + .burger-item {
  margin-top: 3px;
}

.inner {
  background-color: #eff0f2;
  padding: 128px 20px 195px;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .06em;
}

.title_main {
  color: #505050;
  text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.24);
  font-size: 45px;
  line-height: 1.622em;
  margin-bottom: 140px;
  text-align: center;
}

.word-sign {
  position: relative;
}

.word-sign:after {
  content: "";
  position: absolute;
  width: 75px;
  height: 85px;
  right: 0;
  bottom: -250px;
  background-image: url(images/glass.png);
  z-index: 1;
}

.title_bg {
  background-color: #b2f2ee;
  padding: 3px 5px;
  margin: 0 -5px;
}

.inner-image {
  position: absolute;
  right: 0;
}

.inner-button {
  text-align: center;
}

.button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  padding: 18px 45px;
  letter-spacing: .12em;
  border-radius: 1px;
  display: inline-block;
  cursor: pointer;
}

.button_transparent {
  font-size: 18px;
  color: rgba(0, 0, 0, .75);
  position: relative;
  z-index: 2;
}

.button_bordered {
  border: 2px solid rgba(0, 0, 0, .5);
  transition: all .3s linear;
}

.button_bordered:hover {
  border-color: #b2f2ee;
}

@media(max-width:1199px) {
  .title_main {
    font-size: 35px;
  }
}

@media(max-width:992px) {
  .title_main {
    font-size: 28px;
  }
}

@media(max-width:768px) {
  .header {
  padding: 20px 40px;
  }

  .word-sign:after {
    display: none;
  }

  .button {
    padding: 14px 25px;
  }
  
  .button_transparent {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .inner {
    padding: 90px 20px 80px;
  }

  .title-main {
    margin-bottom: 100px;
  }
}

@media(max-width:479px) {
  .title_main {
    font-size: 23px;
  }

  .inner {
    padding: 70px 20px 80px;
  }
}

.title_section {
  font-size: 38px;
  color: rgba(0, 0, 0, .9);
  text-align: center;
  margin-bottom: 18px;
  line-height: 1em;
}

.subtitle {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 18px;
  color: rgba(0, 0, 0, .62);
  letter-spacing: .06em;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3em;
  margin-bottom: 125px;
}

.section_lightgreyBg {
  background-color: #f8fafa;
}

.section {
  padding: 125px 0;
}

.section_about .container {
  font-size: 0;
}

.section_about .subtitle {
  margin-bottom: 148px;
}

.carousel {
  display: inline-block;
  padding: 0 78px;
  max-width: 50%;
  text-align: center;
}

.carousel-image {
  box-shadow: 0px 0px 30px 0px rgba(20, 20, 21, 0.13),
              78px 0 0 -35px #edeef0,
              -78px 0 0 -35px #edeef0;
  margin-bottom: 43px;
  height: 484px;
  width: 393px;
  display: inline-block;
}

.carousel-image img {
  vertical-align: middle;
}

.carousel-pagination {
  font-size: 0;
  text-align: center;
}

.carousel-item {
  width: 10px;
  height: 10px;
  border-radius: 3px;
  background-color: #d0d0d0;
  display: inline-block;
  cursor: pointer;
  transition: all .3s linear;
}

.carousel-item:hover {
  background-color: #7c7c7c;
}

.carousel-item + .carousel-item {
  margin-left: 3px;
}

.carousel-item_active {
  background-color: #71f6eb;
  cursor: default;
}

.carousel-item_active:hover {
  background-color: #71f6eb;
}

.about-text {
  display: inline-block;
  max-width: 50%;
  padding-left: 75px;
  padding-right: 25px;
  vertical-align: top;
}

.about-title {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: .06em;
  color: rgba(0, 0, 0, .75);
  margin-bottom: 25px;
}

.about-description {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: .05em;
  color: rgba(0, 0, 0, .75);
  line-height: 1.75em;
}

.about-description p {
  margin-bottom: 40px;
}

@media(max-width: 1199px) {
  .section {
    padding: 80px 0;
  }
  
  .section_about .subtitle {
    margin-bottom: 90px;
  }

  .title_section {
    font-size: 26px;
  }
  
  .subtitle {
    font-size: 14px;
  }

  .about-title {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .04em;
  }
  
  .about-description {
    font-size: 13px;
    letter-spacing: .02em;
  }
}

@media (max-width: 992px) {
  .container {
    padding: 0 20px;
  }

  .carousel {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 25px;
    padding: 0;
  }

  .about-text {
    display: block;
    margin: 0 auto;
    max-width:100%;
    padding-left: 0;
    padding-right: 0;
  }

  .about-title {
    margin-bottom: 20px;
  }

  .about-description p {
    margin-bottom: 14px;
  }
}

@media (max-width: 600px) {
  .title_section {
    font-size: 21px;
    margin-bottom: 12px;
  }

  .subtitle {
    margin-bottom: 45px;
  }

  .carousel-image {
    width: 300px;
    height: auto;
    margin-bottom: 35px;
    box-shadow: 0px 0px 30px 0px rgba(20, 20, 21, 0.13),
                58px 0 0 -35px #edeef0,
                -58px 0 0 -35px #edeef0;
  }

  .carousel-image img {
    width: 300px;
    height: auto;
  }
}

@media (max-width: 479px) {
  .carousel-image {
    width: 250px;
    box-shadow: 0px 0px 30px 0px rgba(20, 20, 21, 0.13),
                48px 0 0 -35px #edeef0,
                -48px 0 0 -35px #edeef0;
  }

  .carousel-image img {
    width: 250px;
    height: auto;
  }
}

.section_whiteBg {
  background-color: #fff;
}

.works-line {
  font-size: 0;
}

.works-line:not(:last-child) {
  margin-bottom: 14px;
}

.works-item {
  display: inline-block;
  vertical-align: middle;
  width: calc((100% - 28px) / 3);
}

.works-item + .works-item {
  margin-left: 14px;
}

.works-image {
  max-width: 100%;
  height: auto;
}

@media(max-width: 1199px) {
  .section_works .container {
    padding: 0 25px;
  }
}

@media(max-width: 768px) {
  .subtitle {
    margin-bottom: 70px;
  }

  .works-item {
    display: block;
    width: auto;
    text-align: center;
  }

  .works-item:not(:last-child) {
    margin-bottom: 14px;
  }

  .works-item + .works-item {
    margin-left: 0;
  }

  .works-item:nth-child(even) {
    display: none;
  }
}

.services-line {
  font-size: 0;
}

.services-line:not(:last-child) {
  margin-bottom: 14px;
}

.services-item {
  display: inline-block;
  height: 422px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: .025em;
  line-height: 1.75em;
  color: rgba(0, 0, 0, .75);
  vertical-align: middle;
  position: relative;
}

.services-item_wide {
  width: calc(60% - 7px);
}

.services-item_thin {
  width: calc(40% - 7px);
}

.services-item + .services-item {
  margin-left: 14px;
}

.services-item_message {
  background-color: #71f5ea;
  padding: 55px 65px;
  position: relative;
}

.services-cross {
  position: absolute;
  left: 65px;
  bottom: 55px;
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.services-cross::after, 
.services-cross::before {
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  height: 20px;
  background-color: rgba(0, 0, 0, .4);
  transform: rotate(45deg);
}

.services-cross::before {
  transform: rotate(-45deg);
} 

.services-title {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: .05em;
  margin-bottom: 25px;
  color: rgba(255, 255, 255, .95);
  text-transform: uppercase;
}

.services-title_black {
  color: rgba(0, 0, 0, .83);
}

.services-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services-content {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .651);
  color: rgba(255, 255, 255, .9);
}

.services-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 55px 65px;
}

.services-content p {
  margin-bottom: 55px;
}

.services-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: rgba(255, 255, 255, .9);
  font-size: 18px;
  letter-spacing: .04em;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  padding-bottom: 3px;
  padding-top: 5px;
  position: relative;
  transition: all .3s linear;
}

.services-link::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 2px solid rgba(255, 255, 255, .9);
  border-right: 2px solid rgba(255, 255, 255, .9);
  right: -33px;
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
}

.services-link::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 2px;
  background-color: rgba(255, 255, 255, .9);
  right: -37px;
  top: 50%;
  transform: translateY(50%);
}

.services-link:hover {
  border-bottom-color: rgba(255, 255, 255, .8);
}

@media (max-width: 1199px) {
  .section_services .container {
    padding: 0 20px;
  }
}

@media(max-width: 992px) {
  .services-line:not(:last-child) {
    margin-bottom: 0;
  }

  .services-item {
    display: block;
    width: auto;
    margin-bottom: 14px;
  }

  .services-item + .services-item {
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .services-item_message {
    padding: 30px;
  }

  .services-cross {
    left: 30px;
    bottom: 30px;
  }

  .services-wrapper {
    padding: 30px;
  }

  .services-title {
    font-size: 14px;
  }

  .services-item {
    font-size: 13px;
  }

  .services-link {
    font-size: 13px;
  }
}

.team-line {
  font-size: 0;
}

.team-line:not(:last-child) {
  margin-bottom: 15px;
}

.team-item {
  display: inline-block;
  width: calc(33.333% - 10px);
  position: relative;
}

.team-item + .team-item {
  margin-left: 15px;
}

.team-item:hover .team-info {
  opacity: 1;
}

.team-photo {
  height: 100%;
  width: 100%;
}

.team-info {
  background-color: #6ff6eb;
  width: 90%;
  position: absolute;
  bottom: 11px;
  left: 50%;
  transform: translateX(-50%);
  padding: 42px 38px;
  opacity: 0;
  text-align: left;
  transition: all .5s linear;
  display: inline-block;
}

.team-info::before {
  content: '';
  position: absolute;
  left: 32px;
  top: -36px;
  width: 1px;
  height: 1px;
  border: 18px solid transparent;
  border-bottom-color: #70f6eb
}

.team-title {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: .05em;
  color: rgba(0, 0, 0, .95);
  margin-bottom: 25px;
}

.team-function {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: .03em;
  color: rgba(118, 112, 112, .95);
}

.team-description {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: .01em;
  color: rgba(0, 0, 0, .8);
  line-height: 1.5em;
  margin-bottom: 40px;
}

.social {
  font-size: 0;
}

.social-item {
  display: inline-block;
  width: 15px;
  height: 13px;
  background: url(images/sprite.png) no-repeat 0 0;
}

.social-item + .social-item {
  margin-left: 10px;
}

.social-item_twitter {
  background: url(images/sprite.png) no-repeat -17px 0;
}

.social-item_dribble {
  background: url(images/sprite.png) no-repeat -32px 0;
}

.social-item_gmail {
  background: url(images/sprite.png) no-repeat -50px 0;
}

.social-item:hover {
  background: url(images/sprite.png) no-repeat 0 -18px;
}

.social-item_twitter:hover {
  background: url(images/sprite.png) no-repeat -17px -18px;
}

.social-item_dribble:hover {
  background: url(images/sprite.png) no-repeat -32px -18px;
}

.social-item_gmail:hover {
  background: url(images/sprite.png) no-repeat -50px -18px;
}

.social-link {
  font-size: 0;
  width: 100%;
  height: 100%;
  display: block;
}

@media(max-width: 1199px) {
  .section_team .container {
    padding: 0 20px;
  }

  .team-info {
    padding: 21px 19px;
  }

  .team-description {
    margin-bottom: 25px;
  }
}

@media(max-width: 992px) {
  .team-item + .team-item {
    margin-left: 0;
  }

  .team-item {
    margin-bottom: 15px;
    width: 55%;
  }

  .team-line {
    text-align: center;
  }

  .team-line:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .team-item {
    width: 70%;
  }
}

@media (max-width: 479px) {
  .team-item {
    width: 100%;
  }

  .team-title {
    font-size: 15px;
    margin-bottom: 18px;
  }
  
  .team-description {
    font-size: 13px;
    margin-bottom: 25px;
  }
}